{% comment %}
    
    BLOG COVER
    - User configuration of this file is not required. 

{% endcomment %}

{% if page_obj.number == 1 %}
  {%if COVER_IMG %}
    <div id="cover" class="cover post indexfeature featured">
      <div class="background" style="background-image: url('{{ COVER_IMG }}');"></div>
      <header class="wrapper">
        {% if SITELOGO %}<img src="{{ SITELOGO }}" class="profileimage" alt="{{ SITENAME }}">{% endif %}
        <p>{{ TAGLINE }}</p>
      </header>
      <i class="fa fa-chevron-down movedown"></i>
    </div>
  {% endif %}
{% endif %}