      <!-- non-forms errors/ -->
      {% if form.errors %}
        <div class="row">
          <div class="col s12">
            <div class="card-panel red lighten-4" id="form-error">
              <p>
                No se pudo llevar a cabo la operación porque ocurrieron uno o más errores.<br />
                Por favor, reenvíe el formulario después de corregir los siguientes errores:</p>
              <ul>
              {% for field in form %}
              {% if field.errors %}<li><strong>{{ field.label|striptags }}</strong> - {{ field.errors|striptags }}</li>{% endif %}
              {% endfor %}
              </ul>
            <p>
              {{ form.non_field_errors }}
            </p>
            </div>
          </div>
        </div>
      {% endif %}
      <!-- ./non-form errors -->