{% comment %}
    
    PAGINATION
    - User configuration of this file is not required. 

{% endcomment %}

<div class="pagination">
  {% if page_obj.has_next %}
    <a rel="prev" class="smallbutton lightgray right" href="?page={{ page_obj.next_page_number }}"><span>Artículos Anteriores</span> <i class="fa fa-chevron-right"></i></a>
  {% endif %}
  {% if page_obj.has_previous %}
    <a rel="next" class="smallbutton lightgray left" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"></i> <span>Artículos Nuevos</span></a>
  {% endif %}
</div>