{% comment %}
    
  POST - PROFILE SIDE
  - User configuration of this file is not required. 

{% endcomment %}

<div class="profile {% if article.category %} {{ article.category.slug }}{% endif %}{% for tag in article.tags.slugs %} tag-{{ tag }}{% endfor %}{% if article.cover %} featured{% endif %}">
  <img src="{{ PROFILE_IMAGE_URL }}" class="profileimage" alt="{% if article.author %}{{ article.author }}{% else %}{{ DEFAULT_METADATA.author }}{% endif %}">
  <h4>{{ article.autor.get_full_name}}</h4>
  {% include "partials/_social_side.html" %}
  <p>{% if article.about_author %}{{ article.about_author }}{% else %}{{ DEFAULT_METADATA.about_author|safe|striptags }}{% endif %}</p>
  <hr>
</div>