<header>
  <div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
  <h2>
    <a href="{% url 'cat_detail' slug=article.category.slug %}">{{ article.category }}</a>
  </h2>
  <h1 id="posttitle">{{ article.title }}</h1>
  <span class="meta">
    Publicado por {{ article.autor.get_full_name }} el <i class="fa fa-clock-o"></i> <time itemprop="datePublished" datetime="{{ article.pub_date|date:"c" }}">{{ article.pub_date }}</time>.
    <br>
    Etiquetas: {% for tag in article.tags.all %} <i class="fa fa-tag"></i><a href="{%  url 'tag_list' tag.slug %}">{{ tag }}</a>{% endfor %}
  {% if perms.blog.add_entry %}
          <a href="{% url 'entry_edit' pk=article.id %}"><i class="fa fa-pencil"></i> Editar</a>
        {% endif %}
  </span>
</header>