{% comment %}
    
  FOOTER
  - User configuration of this file is not required. 

{% endcomment %}

<footer>
  <ul class="share left">
    <li><a href="http://twitter.com/share?text={{ article.title|urlencode }}&url={% url 'entry_detail' cat=article.category.slug slug=article.slug %}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="smallbutton lightgray"><i class="fa fa-twitter"></i>Twitter</a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={% url 'entry_detail' cat=article.category.slug slug=article.slug %}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="smallbutton lightgray"><i class="fa fa-facebook"></i>Facebook</a></li>
    <li><a href="https://plus.google.com/share?url={% url 'entry_detail' cat=article.category.slug slug=article.slug %}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="smallbutton lightgray"><i class="fa fa-google-plus"></i>Google+</a></li>
  </ul>
  <ul class="tags right">
    <li></li><a href="{% url 'cat_detail' slug=article.category.slug %}" class="smallbutton solidgray"><i class="fa fa-tag"></i>{{ article.category }}</a></li>
  </ul>
</footer>