{% comment %}
    
  POST - COVER
  - User configuration of this file is not required. 

{% endcomment %}

<div id="cover" class="cover post{% if article.category %} {{ article.category.slug }}{% endif %}{% for tag in article.tags.slugs %} tag-{{ tag }}{% endfor %}{% if article.cover %} featured{% endif %}">
  <div class="background" {% if article.cover %} style="background-image: url({{ article.cover }})" {% endif %}></div>
  <header class="wrapper">
    <h2>
      <a href="{% url 'cat_detail' slug=article.category.slug %}">{{ article.category }}</a>
    </h2>
      <h1>{{ article.title }}</h1>
      <span class="meta">
        Publicado por {{ article.autor }} el <i class="fa fa-clock-o"></i> <time itemprop="datePublished" datetime="{{ article.pub_date|date:'c' }}">{{ article.pub_date }}</time>.
      </span>
  </header>
  <i class="fa fa-chevron-down movedown"></i>
</div>