{% comment %}

  SOCIAL - SIDE
  - User configuration required.

{% endcomment %}
<ul class="socialside">
  <li><a href="http://twitter.com/jstoledano" class="smallsocial twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="http://facebook.com/yo.toledano" class="smallsocial facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="http://github.com/jstoledano" class="smallsocial github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
  <li><a href="http://instagram.com/jstoledano" class="smallsocial instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
  <li><a href="{{ FEEDBURNER }}" class="smallsocial rss" target="_blank"><i class="fa fa-rss"></i></a></li>
</ul>