<ul class="social">
  <li><a href="https://twitter.com/jstoledano" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://facebook.com/yo.toledano" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://github.com/jstoledano" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
  <li><a href="https://youtube.com/" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
  <li><a href="https://plus.google.com/b/107489297147197422626/107489297147197422626/" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
  <li><a href="https://instagram.com/jstoledano" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://www.pinterest.com/jstoledano/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
  <li><a href="https://mx.linkedin.com/in/profesional" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="{{ FEEDBURNER }}" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
</ul>