<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }} - {{ TAGLINE }}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "blog/css/theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "blog/css/zenburn.css" %}">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400|Source+Code+Pro:500" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    {% include "partials/_metaheader.html" %}
    {% include "partials/_feed_rss.html" %}
    {% include "partials/_icons.html" %}

    {% block metagoogle   %}{% endblock metagoogle   %}
    {% block metafacebook %}{% endblock metafacebook %}
    {% block metatwitter  %}{% endblock metatwitter  %}
    {% block metaheader   %}{% endblock metaheader   %}
    {% block metadcterms  %}{% endblock metadcterms  %}

    <!-- script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');ga('send', 'pageview');var _qevents = _qevents || [];</script -->
    <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>

    {% block html_head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %} {% if COVER_IMG %}blogcover{% endif %}" itemscope itemtype="http://schema.org/WebPage">
    {% include "partials/_metaweb.html" %}
    {% include "partials/_blogtitle.html" %}

    <nav class="mainnav{% if article %} post{% if article.category %} {{ article.category.slug }}{% endif %}{% for tag in article.tags.all %} tag-{{ tag.slug }}{% endfor %}{% if article.cover %} featured{% endif %}{% endif %}">
      {% include "partials/_navigation.html" %}
    </nav>
    {% block content %}{% endblock %}
    {% include "partials/_footer.html" %}
    {% include "partials/_javascript.html" %}
    {% block js %}{% endblock %}
  </body>
</html>
