{% load staticfiles %}
    <!-- Template blog/partials/_04-seo.html -->
    <link type="text/plain" rel="socialmedia" href="{{ config.SITEURL }}{% url 'socialmedia' %}">
    <link rel="publisher" href="{{ config.PUBLISHER }}">
    <link rel="apple-touch-startup-image" href="{{ config.SITEURL }}{% static 'blog/img/apple-touch-icon-152x152.png' %}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="application-name" content="{{ config.SITENAME }}"/>
    <meta name="msapplication-starturl" content="{{ config.SITEURL }}"/>
    <meta name="msapplication-tooltip" content="{{ config.TAGLINE }}"/>
    <meta name="msapplication-window" content="width=1024;height=768"/>
    <meta name="msapplication-task" content="name={{ config.SITENAME }};action-uri={{ config.SITEURL }};icon-uri={{ config.SITEURL }}{% static 'blog/img/favicon.ico' %}"/>
    <meta name="msapplication-TileImage" content="{{ config.SITEURL }}{% static 'blog/img/apple-touch-icon-152x152.png' %}"/>
    <meta name="msapplication-TileColor" content="#1F1F21"/>
    <meta name="application-name" content="{{ config.SITENAME }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="{{ config.GOOGLE_SV }}">
    <meta name="alexaVerifyID" content="{{ config.ALEXA }}"/>
    <meta name="wot-verification" content="{{ config.MY_WOT }}"/>
    <meta name="msvalidate.01" content="{{ config.MSVALIDATE }}" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="medium" content="mult">
    <meta name="adblock" content="disable">
    <meta name="rating" content="General">
    <meta name="resource-type" content="document">
    <meta name="revisit-after" content="1 days">
    <meta name="revisit" content="1">
    <meta name="robots" content="index,follow">
    <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">