<footer class="site-footer clearfix" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <section class="copyright">
    <a itemprop="url" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
    CC Attribution-NonCommercial-ShareAlike 4.0 International License
    </a>.
  </section>
  <section class="poweredby">
    Publicado <em>orgullosamente</em> con
    <a itemprop="url" href="https://djangoproject.com" target="_blank">Django</a>
  </section>
</footer>