{% load blog_extra %}
<section>
  <h2><i class="fa fa-comments"></i> Comentarios</h2>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_config = function () {
        // this.page.url = '{{ config.SITEURL }}{{ article.get_absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ article.idx }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = '//{{ config.DISQUS_SITENAME }}.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
  </script>
</section>
