{% load staticfiles %}
{% if config.PUBLISHER %}<link rel="publisher" href="{{ config.PUBLISHER }}">{% endif %}
<link rel="apple-touch-startup-image" href="{% static '/images/logo.png' %}">
<link type="text/plain" rel="socialmedia" href="{{ config.SITEURL }}/socialmedia.txt">
<link rel="dns-prefetch" href="{{ config.SITEURL }}"/>
<link rel="dns-prefetch" href="//www.gstatic.com"/>
<link rel="dns-prefetch" href="//fonts.gstatic.com"/>
<link rel="dns-prefetch" href="//fonts.googleapis.com"/>
<link rel="dns-prefetch" href="//accounts.google.com"/>
<link rel="dns-prefetch" href="//ssl.google-analytics.com"/>
<link rel="dns-prefetch" href="//www.google-analytics.com"/>
<link rel="dns-prefetch" href="//googleads.g.doubleclick.net"/>
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com"/>
<link rel="dns-prefetch" href="//twemoji.maxcdn.com"/>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="application-name" content="{{ config.SITENAME }}"/>
<meta name="msapplication-starturl" content="{{ config.SITEURL }}"/>
<meta name="msapplication-tooltip" content="{{ config.TAGLINE }}"/>
<meta name="msapplication-window" content="width=1024;height=768"/>
<meta name="msapplication-task" content="name={{ config.SITENAME }};action-uri=http:{{ config.SITEURL }};icon-uri={{ config.STATICURL }}/theme/images/favicon.ico"/>
<meta name="msapplication-TileImage" content="{{ config.STATICURL }}/theme/images/apple-touch-icon-144x144.png"/>
<meta name="msapplication-TileColor" content="#1F1F21"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="imagetoolbar" content="no">
<meta http-equiv="pragma" content="cache">
<meta http-equiv="cache-control" content="cache">
<meta http-equiv="vary" content="content-language">
<meta http-equiv="Cache-control" content="max-age=2592000, public">
<meta http-equiv="content-style-type" content="text/css">
<meta name="application-name" content="{{ config.SITENAME }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
{% if config.GOOGLE_SV %}<meta name="google-site-verification" content="{{ config.GOOGLE_SV }}">{% endif %}
{% if config.ALEXA %}<meta name="alexaVerifyID" content="{{ config.ALEXA }}"/>{% endif %}
{% if config.MY_WOT %}<meta name="wot-verification" content="{{ config.MY_WOT }}"/>{% endif %}
{% if config.MSVALIDATE %}<meta name="msvalidate.01" content="{{ config.MSVALIDATE }}" />{% endif %}
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="medium" content="mult">
<meta name="adblock" content="disable">
<meta name="rating" content="General">
<meta name="resource-type" content="document">
<meta name="revisit-after" content="1 days">
<meta name="revisit" content="1">
<meta name="robots" content="index,follow">
<meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">