{% load blog_extra %}
<nav class="nav">
  <h3 class="nav-title">Menú</h3>
  <a href="#" class="nav-close">
    <span class="hidden">Cerrar</span>
  </a>
  <ul role="menubar">
    <li {% if request.path == '/' %}class="nav-current"{% endif %} role="presentation">
      <a  href="{% url "index" %}" title="{{ SITENAME }}" itemprop="name" itemprop="significantLink">Inicio</a>
    </li>
    {% for cat in TEMAS %}
      <li class="nav-{{ cat.slug }} {% current request cat.slug %}" role="presentation"><a href="{% url 'cat_detail' slug=cat.slug %}">{{ cat.title }}</a>
    {% endfor %}
    <li class="{% current request 'archivo' %}" role="presentation"><a href="{% url 'archivo' %}">Archivo</a></li>
  </ul>
</nav>