{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Resultados de la búsqueda - {{ SITENAME }}{% endblock title %}


{% block content %}
<section class="posts wrapper">
  <article class="post">
      <script>
        (function() {
          var cx = '007387241458910042101:yttmqvxmhxg';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchresults-only></gcse:searchresults-only>
  </article>
</section>
{% endblock %}
