{% extends "base.html" %}

{% block body_class %} archive-template paged {{ cat.slug }}-{{ page_obj.number }} blogcover{% endblock %}
{% block title %}Archivo de {{ cat }} - {% if page_obj.has_previous %}Página {{ page_obj.number }} de {{ paginator.num_pages }} - {% endif %}{{ SITENAME }}{% endblock title %}

{% block content %}
{% include "partials/_blog_profile.html" %}
<section class="posts postindex wrapper">

  <div class="notification">
    <span class="ntitle">Tema</span><span class="message">{{ cat }}</span>
    <a href="{% url 'index' %}"><i class="fa fa-times"></i></a>
  </div>

  {% include "partials/_loop.html" %}
  {% include 'partials/_pagination.html' %}

</section>
{% endblock %}