{% extends "base.html" %}
{% load staticfiles %}

{% block html_head %}
    <!-- Bootstrap Core CSS -->
  <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/koding.min.css' %}" rel="stylesheet">
{% endblock html_head %}

{% block js %}
  <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/js/clean-blog.js' %}"></script>
{% endblock js %}

{% block title %}Editando {{ categoria }}{% endblock %}
{% block meta-desc %}Página para editar categorías al catálogo{% endblock %}

{% block content %}
{% block header %}
  <header class="intro-header" style="background-image: url('http://media.koding.mx/blog/assets/category_add.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h2>Editando la categoría {{ categoria }}</h2>
            <hr class="small">
            <span class="subheading">Las categorías son los temas del blog, <em>sé sabio</em></span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header  %}


  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <form class="form-horizontal" action="{% url 'cat_edit' pk=categoria.id %}" method="post">
        {% csrf_token %}
        {% include 'partials/_category_form.html' %}
      </form>

    </div>
  </div>
{% endblock content %}