{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Editar {{ entry }}{% endblock %}
{% block meta-desc %}Página para agregar artículos al sitio{% endblock %}

{% block html_head %}
  <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/koding.min.css' %}" rel="stylesheet">
  <!-- Estilos exclusivos para el formulario de entrada -->
  <link href="{% static 'blog/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/bootstrap-switch.min.css' %}" rel="stylesheet">
{% endblock html_head %}
{% block js %}
  <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/js/clean-blog.js' %}"></script>
  <!-- javascript exclusivo del formulario de entrada -->
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker({
        locale: 'es',
        format: 'YYYY-MM-DD H:mm'
      });
      $("[type='checkbox']").bootstrapSwitch();
    });
  </script>
  <script src="{% static 'blog/js/moment.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap-switch.min.js' %}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/speakingurl/7.0.0/speakingurl.min.js"></script>
{% endblock js %}

{% block content %}
  {% block header %}
    <header class="intro-header" style="background-image: url('http://media.koding.mx/blog/assets/category_add.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h2>Editando el artículo <em>«{{ entry }}»</em></h2>
              <hr class="small">
              <span class="subheading">
                Recuerda que la edición es para mejorar
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% endblock header  %}

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% include 'partials/_form_errors.html' %}
      <form class="form-horizontal" action="{% url 'entry_edit' pk=entry.id %}" method="post">
        {% csrf_token %}
        {% include 'partials/_entry_form.html' %}
      </form>
    </div>
  </div>
{% endblock content %}