{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock title %}
{% block body_class %}post-template {% if article.category %} {{ article.category.slug }}{% endif %}{% for tag in article.tags.slugs %} tag-{{ tag }}{% endfor %}{% if article.cover %} featured{% endif %}{% endblock %}

{% if USE_OPEN_GRAPH %}
  {% block metatwitter %}
    <!-- BEGIN metatwitter -->
    <meta property="og:locale" content="es_MX">
    <meta property="og:locale:alternate" content="es">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:domain" content="{{ DOMAIN }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ article.get_absolute_url }}">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.resumen }}">
    <meta name="twitter:image" content="{% if article.cover %}{{ article.cover }}{% else %}{{ ARTICLE_COVER }}{% endif %}">
    <!-- END metatwitter -->
  {% endblock metatwitter %}

  {% block metafacebook %}
    <!-- BEGIN metafacebook -->
    <meta property="og:site_name" content="{{ SITENAME }} - {{ TAGLINE }}">
    <meta property="og:locale" content="es_LA">
    <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ article.title|striptags }}">
    <meta property="og:image" content="{% if article.cover %}{{ article.cover }}{% else %}{{ ARTICLE_COVER }}{% endif %}">
    <meta property="og:image:type" content="image/jpeg">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="675">
    <meta property="og:description" content="{{ article.resumen }}">
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
    <!-- END metafacebook -->
  {% endblock metafacebook %}

  {%block metagoogle%}
    <!-- BEGIN metagoogle -->
    <link rel="canonical" href="{{ article.get_absolute_url }}">
    <!-- END metagoogle -->
  {%endblock metagoogle%}
  {% block metadcterms %}
    <meta name="dcterms.title" content="{{ article.title|striptags }}">
    <meta name="dcterms.description" content="{{ article.resumen }}">
    <meta name="dcterms.language" content="es">
    <meta name="dcterms.type" content="post">
    <meta name="dcterms.source" content="{{ article.get_absolute_url }}">
    <meta name="dcterms.publisher" content="{{ TWITTER_USERNAME }}">
  {% endblock metadcterms %}
{% endif %}

{% block html_head %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "publisher": "{{ SITENAME }}",
    "author": {
      "@type": "Person",
      "name": "{{ AUTHOR }}",
      "image": "{{ PROFILE_IMAGE_URL }}",
      "url": "{{ SITEURL }}",
      "description": "{{ DEFAULT_METADATA.about_author|striptags }}"
    },
    "headline": "{{ article.title|striptags  }}",
    "url": "{{ article.get_absolute_url }}",
    "datePublished": "{{ article.pub_date|date:"c" }}",
    {% if article.cover %}
    "image": "{{ article.cover }}",
    {% else %}
    "image": "{{ ARTICLE_COVER }}",
    {% endif %}
    "keywords": "{{ article.category.slug }}{% for tag in article.tags.slug %} tag-{{ tag }}{% endfor %}",
    "description": "{{ article.resumen }}"
  }
</script>
<link rel="stylesheet" href="http://media.toledano.org/assets/css/grid12_1.1.css">
{% endblock html_head %}

{% block content %}
{% include "partials/_post_flowbar.html" %}
{% include "partials/_post_profile_side.html" %}
{% include "partials/_post_cover.html" %}

<section class="posts wrapper">
  <article class="post{% if article.category %} {{ article.category.slug }}{% endif %}{% for tag in article.tags.slugs %} tag-{{ tag }}{% endfor %}{% if article.cover %} featured{% endif %}">
    {% include "partials/_post_header.html" %}
    <section class="postbody">
      {{ article.body_html|safe }}
      {{ article.extend_html|safe }}
    </section>
    {% include "partials/_post_footer.html" %}
    {% include "partials/_post_profile_bottom.html" %}
    <div class="comments">
      <span class="readmore smallbutton blue"><i class="fa fa-comments"></i>Ver comentarios...</span>
      <div id="disqus_thread"></div>
      <div id="g-comments"></div>
    </div>
  </article>
</section>
{% endblock %}
