{% extends "base.html" %}

{% block body_class %}{% if page_obj.number == 1 %}home-template{% else %} archive-template paged index-{{ page_obj.number }}{% endif %}{% endblock %}
{% block title %}{% if page_obj.has_previous %}Página {{ page_obj.number }} de {{ paginator.num_pages }} - {% endif %}{{ SITENAME }}{% endblock title %}

{% block content %}
{% include "partials/_blog_cover.html" %}
{% include "partials/_blog_profile.html" %}

<section class="posts postindex wrapper" role="main" itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/Blog">
  {% include "partials/_loop.html" %}
  {% include 'blog/partials/_search.html' %}
  {% include 'partials/_pagination.html' %}
</section>
{% endblock content %}