{% extends "base.html" %}
{% comment %}
    
    TAG TEMPLATE
    - User configuration of this file is not required. 

{% endcomment %}

{% block body_class %} archive-template paged {{ tag.slug }}-{{ page_obj.number }} blogcover{% endblock %}
{% block title %}Archivo de {{ t }} - {% if page_obj.has_previous %}Página {{ page_obj.number }} de {{ paginator.num_pages }} - {% endif %}{{ SITENAME }}{% endblock title %}

{% block content %}
{% include "partials/_blog_profile.html" %}
<section class="posts postindex wrapper">

  <div class="notification">
    <span class="ntitle">Etiqueta</span><span class="message">{{ t }}</span>
    <a href="{% url 'index' %}"><i class="fa fa-times"></i></a>
  </div>

  {% include "partials/_loop.html" %}
  {% include 'partials/_pagination.html' %}

</section>
{% endblock %}