{% extends "base.html" %}
{% load taggit_extras %}

{% block html_head %}
<style>
  ul.tagcloud {
  list-style: none;
    padding: 0;
  }

  ul.tagcloud li {
    display: inline-block;
  }

  li.tag-6 {
    font-size: 150%;
  }

  li.tag-5 {
    font-size: 120%;
  }
  li.tag-4 {
    font-size: 100%;
  }
  li.tag-3 {
    font-size: 80%;
  }
  li.tag-2 {
    font-size: 60%;
  }
  li.tag-1 {
    font-size: 50%;
  }
</style>
{% endblock html_head %}

{% block content %}

{% include "partials/_blog_profile.html" %}

<section class="posts postindex wrapper">
  <div class="notification">
    <span class="ntitle"><i class="fa fa-tags"></i></span><span class="message">Nube de Etiquetas</span>
    <a href="{% url 'index' %}"><i class="fa fa-times"></i></a>
  </div>
    
  <p>
    <ul class="tagcloud">
      {% get_tagcloud as tags %}
      {% for tag in tags %}
        <li class="tag-{{ tag.weight|floatformat:0 }}"><a href="{% url 'tag_list' slug=tag.slug %}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </p>
</section>
{% endblock %}