{% extends 'blog/base.html' %}
{% load taggit_templatetags2_tags %}

{% block title %}Archivo Toledano - {{ SITENAME }}{% endblock title %}
{% block meta_description %}En esta página se encuentra listado todo el contenido de este sitio para su fácil consulta{% endblock meta_description %}

{% block header_title %}
  <h1 class="page-title" itemprop="headline"><i class="fa fa-sitemap"></i> Archivo</h1>
  <h2 class="page-description" itemprop="description">El histórico de los contenidos del sitio</h2>
{% endblock header_title %}

{% block html_head %}
  <style type="text/css">
    .page-title {
      text-shadow: 1px 1px #000;
    }
    ul.tagcloud {
    list-style: none;
      padding: 0;
    }

    ul.tagcloud li {
      display: inline-block;
    }

    li.tag-6 {
      font-size: 150%;
    }

    li.tag-5 {
      font-size: 120%;
    }
    li.tag-4 {
      font-size: 100%;
    }
    li.tag-3 {
      font-size: 80%;
    }
    li.tag-2 {
      font-size: 60%;
    }
    li.tag-1 {
      font-size: 50%;
    }
  </style>
{% endblock html_head %}

{% block content %}
<main id="content" class="content" role="main" itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/Blog">
  <article class="post">
    <div class="grid-container">

      <div id="cats">
        <h2><i class="fa fa-folder-open"></i> Lista de Temas</h2>
        <ul>{% for cat in cats %}
          <li>
            <i class="fa fa-{{ cat.icon }}"></i>
            <a href="{% url 'cat_detail' slug=cat.slug %}">
              <strong>{{ cat }}</strong>
            </a>
            - {{ cat.description }}
          </li>
        {% endfor %}</ul>
      </div>

      <div id="nube">
        <h2><i class="fa fa-tags"></i> Nube de etiquetas</h2>
        <ul class="tagcloud">
          {% get_tagcloud as tags %}
          {% for tag in tags %}
            <li class="tag-{{ tag.weight|floatformat:0 }}"><a href="{% url 'tag_list' slug=tag.slug %}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div id="articles">
        <h2><i class="fa fa-newspaper-o"></i> Artículos</h2>
        <ul>
          {% for entry in entries %}
          <li>
            <a href="{% url 'entry_detail' cat=entry.category.slug slug=entry.slug %}"
               itemprop="url" rel="bookmark">
              {{ entry.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
</main>
{% endblock content %}