{% load staticfiles %}
<!DOCTYPE html>
<html lang="es-mx">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ config.SITENAME }}  - {{ config.TAGLINE }}{% endblock title %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    {% include "blog/partials/_01-http-equiv.html" %}
    {% include "blog/partials/_02-css.html" %}
    {% include "blog/partials/_03-prefetch.html" %}
    {% include "blog/partials/_04-seo.html" %}
    {% include "blog/partials/_05-opengraph.html" %}
    {% include "blog/partials/_06-feed_rss.html" %}
    {% include "blog/partials/_07-analytics.html" %}

    {% block metagoogle   %}{% endblock metagoogle   %}
    {% block metafacebook %}{% endblock metafacebook %}
    {% block metatwitter  %}{% endblock metatwitter  %}
    {% block metaheader   %}{% endblock metaheader   %}
    {% block metadcterms  %}{% endblock metadcterms  %}
    {% block html_head %}{% endblock %}
  </head>
  <body class="{% block template_type %}home-template{% endblock %} nav-closed" itemscope itemtype="http://schema.org/WebPage">
    {% include "blog/partials/_08-metaweb.html" %}
    {% include 'blog/partials/_09-navigation.html' %}
    <div class="site-wrapper">
      <header class="main-header post-head" style="background-image: url('{% block header_image %}{{ config.COVER_IMG }}{% endblock %}');" itemscope itemtype="http://schema.org/WPHeader">
        <nav class="main-nav overlay clearfix">
          {% if config.SITELOGO %}
            <a href="{% url "index" %}" class="blog-logo"><img src="{{ config.SITELOGO }}" alt="{{ config.SITENAME }}"></a>
          {% endif %}
          <a class="menu-button" href="#">
            <span class="burger"><i class="fa fa-bars"></i></span>
            <span class="word">Menú</span>
          </a>
        </nav>
        <div class="vertical">
          <div class="main-header-content inner">
            {% block header_title %}
              <h1 class="page-title" itemprop="headline">{{ config.SITENAME }}</h1>
              <h2 class="page-description" itemprop="description">{{ config.TAGLINE }}</h2>
            {% endblock header_title %}
          </div>
        </div>
        {% block scroll %}
          <a class="scroll-down" href="#content">
            <span class="hidden">Bajar</span>
            <i class="fa fa-chevron-left"></i>
          </a>
        {% endblock scroll %}
      </header>

      {% block content %}{% endblock content %}

      {% include "blog/partials/_blog_footer.html" %}
    </div>
  {% include 'blog/partials/_javascript.html' %}
  {% block js %}{% endblock %}
</body>
</html>