{% extends 'blog/base.html' %}
{% load taggit_templatetags2_tags %}

{% block content %}
<main
  id="content"
  class="content"
  role="main"
  itemprop="mainContentOfPage"
  itemscope=""
  itemtype="http://schema.org/Blog">
  <article class="post">
    {% include 'blog/partials/_search.html' %}
    <script>
      (function() {
        var cx = '007387241458910042101:yttmqvxmhxg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:searchresults-only></gcse:searchresults-only>
    {% include 'blog/partials/_search.html' %}
  </article>
  <style>
    .gsc-result .gs-title {
      height: 1.5em;
    }
    .gsc-table-result, .gs-promotion-table {
      margin: 0 0 1.5em 0 !important;
    }
  </style>
</main>
{% endblock content %}